noIT/soap/config/schemas/RequestGetData.xsd

<xs:schema targetNamespace="http://cellfast.ua/webapi"
           xmlns:tns="http://cellfast.ua/webapi"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:complexType name="RequestGetData">
        <xs:sequence>
            <xs:element name="header">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="date" type="xs:dateTime"/>
                        <xs:element name="full_dump" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>